<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

<h1>Edit image</h1>

<%= form_for @picture do |f| %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
 <p>
   <%= f.label :place %><br>
   <%= f.text_field :place %>
</p>
  <p>
    <%= f.submit %>
  </p>

<% end %>

<a class="btn btn-default" href="/pictures" role="button">Back</a>
<script src="../../dist/js/bootstrap.min.js"></script>
</html>
