<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

<div class="jumbotron">
<h1>Edit image</h1>
</div>
<div class="container">
<%= form_for @picture do |f| %>
<div class="form-group">
 <p>
<%= f.label :name %><br>
<%= f.text_field :name, :id=>"inputEmail", :class=>"form-control", :placeholder=>"name" %>
  </p>
</div>
<div class="form-group">
 <p>
    <%= f.label :description %><br>
    <%= f.text_area :description, :id=>"inputEmail", :class=>"form-control", :placeholder=>"description" %>
  </p>
</div>
<div class="form-group">
 <p>
   <%= f.label :place %><br>
   <%= f.text_field :place, :placeholder=>"place", :id=>"inputEmail", :class=>"form-control" %>
</p>
</div>
  <div class="actions">
    <%= f.submit "Submit", :class=>"btn btn-lg btn-primary" %></br></br> 
</div>
<% end %>
<a class="btn btn-warning" href="/pictures" role="button">Back</a>
</div>
<script src="../../dist/js/bootstrap.min.js"></script>
</html>
