<h1>Editing Picture</h1>
<%= form_for @picture do |f| %>

<p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
 <p>
   <%= f.label :place %><br>
   <%= f.text_field :place %>
</p>

  <div class="actions">
    <%= f.submit "Post"%>
  </div>
<% end %>

